/**
 * index.scss
 * - Add any styles you want here!
 */

/*     font-family: 'Allerta', sans-serif; */

/*     font-family: 'Montserrat', sans-serif; */

/* * {
  padding: 10px;
  padding: 10px 13px 5px 15px;
  margin: 10px;
  margin: 10px 13px 5px 15px;
  border: 2px solid red;
} */

body {
  font-family: 'Allerta', sans-serif;
  margin: 0px;
}

table {
  width: 100%;
}

th {
  background: #273b47;
  color: white;
}

th {
  padding: 10px;
  text-align: left;
}

td {
  padding: 20px;
}

table,
td,
th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}

inout,
textarea {
  outline: 0px;
}

input:focus,
textarea:focus {
  background: lightgray;
}

.contenedor {
  width: 800px;
  margin: auto;
  position: relative;
}

.background {
  background-image: url('https://raw.githubusercontent.com/platzi/desarrollo-web-online/master/images/background.png');
  backgroud-size: cover;
}

.button {
  border-radius: 12px;
  border: none;
  background: #fd324e;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.titulo span {
  text-decoration: underline;
}

.title-a {
  font-size: 24px;
  margin-top: 0px;
}

.title-b {
  font-size: 50px;
  margin-buttom: 20px;
}

.guitarras {
  color: #1F313C;
  margin-bottom: 120px !important;
}

.guitarras h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.portada {
  color: white;
  padding: 20px;
  height: 500px;
}

.portada button {
  margin-bottom: 70px;
  /*   border-radius: 5px;
  border: none;
  background: #fd324e;
  color: white;
  padding: 7px; */
}

.menu {
  font-size: 24px;
  position: absolute;
  right: 0px;
}

.menu li {
  margin-left: 30px;
}

.menu li:before {
  content: '-';
  font-size: 15px;
  line-height: 50px;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
}

.logotipo,
.menu,
.menu li {
  display: inline-block;
}

.logotipo {
  margin-left: 0px;
}

.guitarra {
  margin: 10px 10px 40px 10px;
  padding: 10px;
  /*   overflow: hidden; */
  border: 1px solid #1F313C;
  border-radius: 8px;
}

.guitarra ol {
  padding: 0px;
}

.guitarra.b {
  height: 190px;
}

.right {
  float: right;
  position: relative;
  top: -127px;
}

.left {
  float: left;
  position: relative;
}

.contenedor-guitarra-a {
  padding-left: 20px;
}

.contenedor-guitarra-b {
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}

.header {
  position: relative;
}

.footer {
  background: #273b47;
  padding: 50px 10px;
}

.contacto {
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}

.contacto img {
  display: block;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0px;
}

.footer .contenedor {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.formulario {
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  color: white;
}

.col1,
.col2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col1 {
  margin-right: 15px;
}

.col2 {
  -ms-flex-align: start;
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px
}

.intereses label {
  font-size: 12px;
}

.formulario label,
.sexo,
.intereses {
  margin-bottom: 10px;
}

.sexo {
  margin-top: 10px;
}

.tabla {
  margin: 50px 0px;
}